$white: #fefbfc;

$mainColor: #2ec5f4;
$altColor: $white;
$headingsColor: $mainColor;
$altHeadingsColor: #1f2021;
$backgroundColor: $altHeadingsColor;
$altBackgroundColor: #0f748f;
$textColor: #b0acae;
$altTextColor: $white;
// $hoverColor: ;

$fontFamilyG: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$mainFont: "Overpass";
// $altFont: $mainFont;
$fontFamily: $mainFont, $fontFamilyG;

// $mainGradient: , ;
// $altGradient: , ;

// $radius: ;
