.landing {
  min-height: 100vh;
  position: relative;
  color: $white;
  background: {
    color: $backgroundColor;
    image: url(/src/assets/images/landing_1.jpg);
    size: cover;
    repeat: no-repeat;
  }
  &::after {
    content: "";
    @include overlay;
  }
  .text {
    position: absolute;
    @extend %vPCenter;
    width: 55%;
    background-color: rgba($altBackgroundColor, 0.7);
    padding: 3rem;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    @include in(toSmall) {
      width: 100%;
      justify-content: center;
    }
    .content {
      max-width: 35.5rem;
    }
  }
  h2 {
    color: inherit;
    font-size: 1.875rem;
    font-weight: 400;
  }
  p {
    margin: 1.5rem 0;
    line-height: 2;
  }
  button.arrow {
    position: absolute;
    z-index: 2;
    padding: 1rem 1.875rem;
    font-size: 2rem;
    @extend %vPCenter;
    &:nth-of-type(2) {
      right: 0;
    }
    @include in(toSmall) {
      display: none;
    }
  }
  .bullet {
    z-index: 2;
    position: absolute;
    @extend %hPCenter;
    @extend %ulRest;
    bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    li {
      @extend %transition;
      width: 0.875rem;
      height: 0.875rem;
      border: 0.0625rem solid $white;
      border-radius: 50%;
      cursor: pointer;
      &.active {
        background-color: $mainColor;
        border-color: $mainColor;
      }
    }
  }
}
