@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
*,
:after,
:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  color: #b0acae;
  line-height: 1.7;
  font-family: "Open Sans", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8125rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2ec5f4;
}

button {
  cursor: pointer;
}

img.mobile {
  display: none;
}
@media (max-width: 991px) {
  img.mobile {
    display: block;
  }
}

img.desktop {
  display: block;
}
@media (max-width: 991px) {
  img.desktop {
    display: none;
  }
}

.landing .bullet li, header nav a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.landing .bullet {
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.landing button.arrow, .landing .text {
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.home .col, header nav button, .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul, .landing .bullet, header nav ul {
  list-style: none;
  padding: 0;
}

footer button, button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
}

section:not(.landing) {
  max-width: 90rem;
  padding: 9rem 0;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991px) {
  section:not(.landing) {
    padding: 6rem 0;
    text-align: center;
  }
}

.buttons {
  gap: 2rem;
}

header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 5.25rem;
}
header .container:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  bottom: 0;
  right: 1rem;
  height: 0.0625rem;
  width: calc(100% - 2rem);
  z-index: -1;
}
header .logo img {
  height: 2.5rem;
}
header .search button {
  height: 2.5rem;
  width: 3rem;
  position: relative;
  margin-left: 2rem;
  border-left: 0.0625rem solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
header .search i {
  color: #ffffff;
  font-size: 1.5rem;
}
header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 2rem 0.5rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  header nav a {
    padding: 1rem 0.5rem;
    width: 100%;
  }
}
header nav button {
  color: #ffffff;
  font-size: 0.8125rem;
  gap: 0.5rem;
}
header nav button.buger-button {
  display: none;
  border: none;
  background-color: transparent;
}
@media (max-width: 991px) {
  header nav button.buger-button {
    display: block;
  }
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
@media (max-width: 991px) {
  header nav ul {
    gap: 0rem;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
header nav li a:hover,
header nav li a:focus, header nav li.active a {
  color: #2ec5f4;
  border-bottom: 0.0625rem solid #2ec5f4;
}
@media (max-width: 991px) {
  header nav li button {
    gap: 0rem;
    width: 100%;
    text-align: start;
  }
}
header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 4rem;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}
@media (max-width: 991px) {
  header nav .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: calc(100% + 2.5rem);
    width: calc(100% - 2rem);
    padding: 1rem;
    border-radius: 0.3125rem;
    background-color: rgba(31, 32, 33, 0.9803921569);
    -webkit-box-shadow: 0 0 0.3125rem 0.0625rem rgba(0, 199, 252, 0.72);
            box-shadow: 0 0 0.3125rem 0.0625rem rgba(0, 199, 252, 0.72);
  }
  header nav .menu.hide {
    display: none;
  }
}
header nav .search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 991px) {
  header nav .search {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

.landing {
  min-height: 100vh;
  position: relative;
  color: #ffffff;
  background-color: #1f2021;
  background-image: url(/src/assets/images/landing_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.landing::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.landing .text {
  position: absolute;
  width: 55%;
  background-color: rgba(15, 116, 143, 0.7);
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
}
@media (max-width: 991px) {
  .landing .text {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.landing .text .content {
  max-width: 35.5rem;
}
.landing h2 {
  color: inherit;
  font-size: 1.875rem;
  font-weight: 400;
}
.landing p {
  margin: 1.5rem 0;
  line-height: 2;
}
.landing button.arrow {
  position: absolute;
  z-index: 2;
  padding: 1rem 1.875rem;
  font-size: 2rem;
}
.landing button.arrow:nth-of-type(2) {
  right: 0;
}
@media (max-width: 991px) {
  .landing button.arrow {
    display: none;
  }
}
.landing .bullet {
  z-index: 2;
  position: absolute;
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
.landing .bullet li {
  width: 0.875rem;
  height: 0.875rem;
  border: 0.0625rem solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.landing .bullet li.active {
  background-color: #2ec5f4;
  border-color: #2ec5f4;
}

.home {
  text-align: start;
}
.home > h2 {
  text-align: center;
  margin-bottom: 6rem;
}
@media (max-width: 991px) {
  .home > h2 {
    margin-bottom: 2.5rem;
  }
}
.home h2 {
  font-size: 2.25rem;
}
@media (max-width: 991px) {
  .home h2 {
    font-size: 1.6rem;
  }
}
.home h3 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
@media (max-width: 991px) {
  .home h3 {
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
}
.home .text {
  padding: 0 2.5rem;
}
@media (max-width: 1199px) {
  .home .text {
    padding: 0 1.5rem;
  }
}
.home img {
  max-width: 100%;
}
@media (max-width: 1199px) {
  .home img {
    max-width: 75%;
  }
}
.home .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
@media (max-width: 991px) {
  .home .container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.home .container:first-of-type .text:first-of-type {
  padding: 0 2rem;
}
@media (max-width: 991px) {
  .home .container:first-of-type h3 {
    margin-bottom: 1rem;
  }
}
@media (max-width: 991px) {
  .home .container:first-of-type .col:nth-of-type(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.home .container:first-of-type img.desktop {
  position: absolute;
  right: -35%;
}
.home .container:first-of-type img.mobile {
  max-width: 118%;
  padding-bottom: 3rem;
}
.home .container:nth-of-type(3) {
  padding-bottom: 10rem;
}
@media (max-width: 1199px) {
  .home .container:nth-of-type(3) {
    padding-bottom: 0rem;
  }
}
.home .container:nth-of-type(3) .col:first-of-type img.desktop {
  position: absolute;
  top: -32%;
  left: -35%;
}
.home .container:nth-of-type(3) .col:first-of-type img.mobile {
  max-width: 145%;
}
.home .container:nth-of-type(3) .col:last-of-type {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
@media (max-width: 991px) {
  .home .container:nth-of-type(3) .col:last-of-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.home .row {
  color: #ffffff;
  margin: 18rem 0;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991px) {
  .home .row {
    margin: 17rem 0 3.8rem;
    height: 39rem;
    background-position-y: -1125%;
    background-position-x: 50%;
    background-size: 160%;
  }
}
.home .row h2 {
  color: #ffffff;
}
@media (max-width: 991px) {
  .home .row h2 {
    font-size: 2.3rem;
    line-height: 1.3;
    margin-top: 6.5rem;
    margin-bottom: 1.5rem;
  }
}
.home .row p {
  color: hsl(0deg, 0%, 82%);
}
.home .row .col:first-of-type {
  position: absolute;
  top: -17%;
}
@media (max-width: 991px) {
  .home .row .col:first-of-type {
    top: -30%;
  }
}
.home .row .col:last-of-type {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
@media (max-width: 991px) {
  .home .row .col:last-of-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.home .col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}
@media (max-width: 991px) {
  .home .col {
    gap: 3rem;
  }
}

footer {
  color: #ffffff;
  padding: 4.5rem 0;
}
@media (max-width: 991px) {
  footer {
    font-weight: bold;
    text-align: center;
  }
}
footer button {
  font-size: 0.95rem;
}
footer button:focus, footer button:active, footer button:hover {
  text-decoration: underline;
}
@media (max-width: 991px) {
  footer button {
    font-size: 1rem;
  }
}
footer .container > ul {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 4rem 2rem;
}
@media (max-width: 1199px) {
  footer .container > ul {
    justify-items: center;
    gap: 3rem 2rem;
  }
}
footer .container > ul > li ul {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}